@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #670C0C;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #e07902;
    -webkit-text-stroke: 0.5px #000;
    font-family: 'Chewy', sans-serif;
}

.logo img {
    height: 100px;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #d1cfcf;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    color: white;
}


main {
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

.login-section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}

.login-section.show {
    opacity: 1;
    transform: translateY(0);
}

form div {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #670C0C;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #e60000;
}

footer {
    background-color: #670C0C;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
